#content{
    font-size: 24px;
    
    margin: 0 auto;
}

.home-title{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#hero-img {
    width: 100%;
    height: 100;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: #000000;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background{
    height: 725px;
}


body {
    background-color: #c38686;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}


header {
    background-color: rgba(20,30,13, .7);
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}


nav a:hover {
    background-color: black;
    color: #fcfbfb;
}


.book, .join {
    font-size: 18px;
    background-color: #5c3c3c;
    color: #fcfbfb;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}


.book:hover, .join:hover {
    background-color: rgba(96, 109, 86, 0.7); 
    color: #fcfbfb;
}

#background {
    background-color: rgba(76, 116, 48, 0.7);
}

.msg {
    background-color: rgba(76, 116, 48, 0.7);
    line-height: 1.5em;
    padding: 35px; 
}

.msg h2 {
    color: rgb(219, 212, 198);
}

.msg p {
    font-size: .8em;
    color: rgb(219, 212, 198);
    padding-bottom: 15px; 
}

.footer {
    color: rgb(255, 255, 255);
    padding: 25px 50px; 
    margin-top: 200px;
}

.footer .social img{
    padding-top: 15px;
}

#background-footer {
    background-color: rgba(76, 116, 48, 0.7);
    color: rgb(255, 255, 255); 
    height: 100%;
    font-weight: 100;
}

.icon{
    width: 80px;
    color: #000000;
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}